body {
    background: white;
    margin-left: 30px;
    margin-right: 100px;
}

header {
    margin-top: 100px;
}

h1 {
    color: red;
    font-family: fantasy;
}

h2 {
    font-family: fantasy;
}

p {
    font-size: 18px;
}

img {
    margin-bottom: 20px;
}