
body {
	background: #d2d2c1 url(imagens/fundo.png);
	font: 16px Arial, Helvetica, sans-serif;
}	

a {
	color: #4b566a;
	text-decoration: none; /* removendo underline dos links */
	font-weight: bold;
	padding: 5px;
}

h1 {
	color: #828271;
	font-size: 1.2em;
}

#principal {
	border: 1px solid red;
	width: 900px;
}

#menu {
	background: #c5c5b2;
	padding: 18px;
}

#conteudo {
	background: #e8e8d9;
	padding: 10px;
}

.centralizar {
	text-align: center;
}

.img-campanha {
	border: 10px solid #c3c3ae;
}